<div class="my-4 border border-success p-4 rounded">
  <h3 class="mb-3">Add Todo</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="title"
        class="form-control"
        id="title"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input
        type="text"
        name="desc"
        [(ngModel)]="desc"
        class="form-control"
        id="desc"
      />
    </div>
    <button class="btn btn-sm btn-success">Submit</button>
  </form>
</div>
